<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link href="css/main.css" rel="stylesheet"/>
        <title>Hello world</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h1>
                            Nick Buonincontri<br/>
                            <span class="text-muted">Software Engineer</span>
                        </h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h2>About</h2>
                        <p>
                            I'm currently doing web development for the Center
                            for Teaching and Learning at Columbia University.
                            At the CTL, I work on a team with developers,
                            designers, and learning experts to build tools for
                            faculty to improve learning outcomes for students
                            across the university.
                        </p>
                        <p>
                            My technical interests range the gamut, from finding
                            ways to incorporate type safety into my projects, to
                            doing fun things with Docker.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h2>Tools</h2>
                        <p>
                            I specialize in Python and Django development, as
                            well as Typescript and React for building rich
                            client-side experiences. I have worked
                            professionally with the following tools:
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <h3>Languages</h3>
                        <ul>
                            <li>Python (MyPy)</li>
                            <li>Typescript</li>
                            <li>JavaScript</li>
                            <li>SCSS</li>
                            <li>OCaml</li>
                            <li>C, C++</li>
                            <li>Java</li>
                            <li>PHP</li>
                            <li>Bash</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Frameworks &amp; Testing</h3>
                        <ul>
                            <li>Django</li>
                            <li>Django REST Framework</li>
                            <li>React</li>
                            <li>Cypress</li>
                            <li>Jest</li>
                            <li>Drupal</li>
                            <li>Hugo</li>
                            <li>Jekyll</li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <h3>Systems</h3>
                        <ul>
                            <li>NGINX</li>
                            <li>Apache</li>
                            <li>Postgres</li>
                            <li>MySQL</li>
                            <li>SQLite</li>
                            <li>Jenkins</li>
                            <li>Ubuntu/Debian Linux</li>
                            <li>SystemD</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Cloud &amp; CI/CD</h3>
                        <ul>
                            <li>AWS</li>
                            <li>Google Cloud</li>
                            <li>Digital Ocean</li>
                            <li>Docker</li>
                            <li>Travis</li>
                            <li>CircleCI</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="js/lib/bootstrap.bundle.min.js"></script>
</html>
