<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link href="/css/main.css" rel="stylesheet"/>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-4 sidebar">
                    <div id="nav-bg"></div>
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                Nick Buonincontri<br/>
                                <span class="text-muted">Software Engineer</span>
                            </h1>
                            <button class="navbar-toggler navbar-dark" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                    <div id="nav-collapse" class="row">
                        <div class="col-12">
                            <ul>
                                {% for item in site.data.nav.navItems %}
                                    <li>
                                        {% if page.permalink == item.url %}
                                            <span class="nav-item--active">{{ item.title }}</span>
                                        {% else %}
                                            <a href="{{ item.url }}">{{ item.title }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
                <main class="col-md-8 ms-sm-auto">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            {{ content }}
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
</html>
